.searchresults .win-listview 
{
    width: 90%; 
    margin-top: 10%;
    margin-left: 8%;
}

    .searchresults .win-listview .win-viewport.win-vertical {
        margin: 0px;
    }
.searchresults #searchedVideo {
    width:230px;
    height:230px;
}

.searchresults #item {
    padding-top:50px;
}

.searchresults h3 {
    text-overflow: ellipsis;
    height:20px;
}

/*#resultsContainer .win-vertical {
    margin-left: 0px; 
}*/ 
